@media screen and (max-width: 700.9px) {
  .portada {
    display: none;
  }
  .contenedor {
    margin: none;
  }
  .art1 {
    padding: 0px;
  }
  .art2 {
    padding: 0%;
  }
  .imgart1 {
    display: none;
  }
  .imgart2 {
    display: none;
  }
  .card-img-top {
    display: none;
  }
  .card {
    align-items: center;
    padding: 50px;
  }
  .cards {
    align-items: center;
    justify-content: center;
    margin: none;
  }
  .card-mobile {
    display: none;
    margin: none;
  }
  .slidemarcas2 {
    display: none;
  }
  .mockuptarjetas p {
    display: none;
  }
}
@media screen and (min-width: 700.9px) {
  .carousel {
    display: none;
  }
}
.cards {
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.cards {
  padding: 20px;
  margin: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.cryptotarget {
  margin: 100%;
}

.logo {
  width: 10vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.menu {
  float: left;
  list-style: none;
  padding: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  border-radius: 12px;
}

.a {
  text-decoration: none;
  color: #000000;
}

.nav-link {
  font-weight: 400;
}

nav a:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

body {
  background-color: #ffffff;
  background-image: url(/img/Group\ 8.svg);
  background-repeat: no-repeat;
  justify-items: center;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

/* 1ra parte de la web */
.contenedor {
  margin: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.texto {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.texto h1 {
  font-size: 7vw;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
}

/* 1ra parte de la web */
.art1 {
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 28px;
  text-align: center;
}

.art2 {
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 28px;
  text-align: center;
}

.portada {
  margin-left: 50px;
}

.aside {
  display: flex;
  justify-content: space-around;
}

/* 2a parte de la web */
h4 {
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  display: flex;
  justify-content: center;
  letter-spacing: -0.02em;
  color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.card-group {
  display: flex;
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.card {
  padding: 30px;
}

.card-img-top {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

/* Mock up tarjetas*/
.mockuptarjetas {
  padding: 60px;
}

.imgtarjetas {
  max-width: 40%;
}

.invcontenedor div {
  display: flex;
}

@media screen and (max-width: 800px) {
  .card-group {
    display: flex;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
h3 {
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  display: flex;
  justify-content: center;
  letter-spacing: -0.02em;
  color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.slidermarcas {
  background: #ffffff;
  height: 100px;
}
.slidermarcas .slide-trackmarcas {
  display: flex;
  justify-content: space-around;
}
.slidermarcas .slidemarcas .slidemarcas2 {
  height: 100px;
  width: 190px;
}

.pie-pagina {
  width: 100%;
  background-color: whitesmoke;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 150px;
}

.pie-pagina .grupo-1 .box h5 {
  color: #000000;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #000000;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: whitesmoke;
}

.pie-pagina .grupo-2 {
  background-color: #171924;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.pie-pagina.grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
.invcontenedor {
  display: flex;
  padding: 30px;
  align-items: center;
}

.imagen {
  width: 40vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.card-img-top {
  width: 10vw;
}

.card-body {
  align-items: center;
}/*# sourceMappingURL=style.css.map */