body {
    background-color: $bg-lightwhite;
    background-image: $bg-svg;
    background-repeat: no-repeat;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    color: $txt-color;
}