.invcontenedor{
    display: flex;
    padding: 30px;
    align-items: center;

}

.imagen{
    width: 40vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30));
}
.card-img-top{
width: 10vw;
}
.card-body{
align-items: center;
}
